---
import Header from './Header.astro';
import Footer from './Footer.astro';

const { title, pageClass = "page" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/styles.css">
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110964254-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110964254-1');
  </script>
</head>
<body class={pageClass}>
  {pageClass !== "homepage" && <Header />}
  <main>
    <slot />
  </main>
  {pageClass !== "homepage" && <Footer />}
</body>
</html>